.dashboard{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    padding-top: 10px;
    text-align: left;
    padding-left: 10%;
    font-family: "Lucida Console", "Courier New", monospace;
}
.public-dashboard{
    display: flex;
    flex-direction: column;
    font-size: 13px;
    
    text-align: left;
    padding-left: 10%;
    font-family: "Lucida Console", "Courier New", monospace;
}
.buttond{
    border: none;
    text-decoration: none;
    color: rgb(179, 169, 169);
}
.NevigationText{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}