.NevigationText{
   
    font-family: Arial, Helvetica, sans-serif;
   margin-left: 2rem;

}
.firtNevigation{
   
}
div.buttonlogout{
    position: absolute;
    right: 0;
    margin-top: -2.5rem;
}
.displayname{
    position: absolute;
    margin-left: 81%;
    font-weight: 200;
}
.cardicon{
    margin-right: 6rem;
}